*{
    margin:0;
    padding:0;
}

body{
    text-align:center;
    background-color:#548687;
}

.container{
    height: 70vh;
    display:flex;
    display:flex;
    align-items: center;
    gap:1.5vmin;
    justify-content: center;
}

.game{
    height:60vmin;
    width:60vmin; 
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    gap:1.5vmin;
    justify-content: center;
}

.box{
    height:18vmin;
    width:18vmin;
    border:none;
    border-radius:1rem;
    box-shadow:0 0 1rem rgba(0,0,0,0.1);
    font-size:8vmin;
    color:#b0413e;
    background-color: #ffffc7;

}

#reset-btn{
    padding:1.5rem;
    font-size:1.25;
    background-color: #191913;
    border-radius: 1rem;
    border:none;
    color:white;

}

#new-btn{
    padding:1.5rem;
    font-size:1.25;
    background-color: #191913;
    border-radius: 1rem;
    border:none;
    color:white;
}

#msg{
    color:#ffffc7;
    font-size:8vmin;
}

.msg-container{
    height:30vmin;
}


.hide{
    display:none;
}